<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<div class="container mt-5 col-md-6 offset-2">
    <div class="panel pannel-default">
        <div class="panel pannel-having">
            <div class="panel pannel-having">

            <h2>Produit</h2>
        </div>

        <div class="panel pannel-body">



            <form th:action="@{/save}" method="post">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           th:value="${produit.id}">

                </div>
                <div class="mb-3">
                    <label for="reference" class="form-label">Reference</label>
                    <input type="text" class="form-control" id="reference" name="reference"
                    th:value="${produit.reference}">
                    <span th:errors="${produit.reference}" class="text-danger">></span>

                </div>
                <div class="mb-3">
                    <label for="designation" class="form-label">Designation</label>
                    <input type="text" class="form-control" id="designation" name="designation" th:value="${produit.designation}">
                    <span th:errors="${produit.designation}" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="prix" class="form-label">Prix</label>
                    <input type="text" class="form-control" id="prix"  name="prix" th:value="${produit.prix}" >
                    <span th:errors="${produit.prix}" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="quantite" class="form-label">Quantite</label>
                    <input type="tex" class="form-control" id="quantite"  name="quantite" th:value="${produit.quantite}">
                    <span th:errors="${produit.quantite}" class="text-danger">></span>
                </div>

                <button type="submit" class="btn btn-primary">save</button>
            </form>
        </div>

    </div>

</div>
    <div class="container col-mb-3">
        <form th:action="@{/produit}" method="get" class="d-flex">
            <div class="input-group">
                <div class="form-outline" data-mdb-input-init>
                    <input type="search" id="form1" name="query" class="form-control"
                           placeholder="Rechercher par désignation..."
                           th:value="${query}" required />
                </div>
                <button type="submit" class="btn btn-primary form-outline" data-mdb-ripple-init>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>




        <div class="panel-body panel-success">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">REF</th>
                    <th scope="col">DESIGNATION</th>
                    <th scope="col">PRIX</th>
                    <th scope="col">QUANTITE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${listeproduits}" scope="row">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.reference}"></td>
                    <td th:text="${p.designation}"></td>
                    <td th:text="${p.prix}"></td>
                    <td th:text="${p.quantite}"></td>
                    <td>
                        <a th:href="@{/delete(id=${p.id})}" class="btn btn-danger"
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
                            Supprimer
                        </a>
                        <a th:href="@{/edit(id=${p.id})}" class="btn btn-warning">
                            Modifier
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <script src="/js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>